.new-item__form {
    background-color: #fff;
    position: relative;
    max-width: 430px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 34px 36px 37px 36px;
}

@media screen and (max-width: 767px) {
    .new-item__form {
      max-width: 282px;
      padding: 25px 22px;
    }
  }
  
