.element__like-group {
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  transition: opacity .3s ease;
  margin-bottom: 3px;
}

.element__like-group:hover {
  opacity: .6;
  cursor: pointer;
}
