.element__trash {
    padding: 0;
    border: none;
    position: absolute;
    background-image: url(../../../images/Trash.svg);
    top: 20px;
    right: 20px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    width: 18px;
    height: 18px;
    z-index: 1;
    transition: opacity .3s ease;
}

.element__trash:hover {
  opacity: .6;
  cursor: pointer;
}