.header {
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    min-height: 58px;
    padding-top: 28px;
  }
}
